name: Deploy
on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Needed for auth with Deno Deploy
      contents: read # Needed to clone the repository

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install Rust wasm target
        run: rustup target add wasm32-unknown-unknown

      - name: Install Trunk
        run: |
          curl -L https://github.com/trunk-rs/trunk/releases/download/v0.21.14/trunk-x86_64-unknown-linux-gnu.tar.gz | tar xz
          sudo mv trunk /usr/local/bin/

      - name: Build step
        run: "trunk build"

      - name: Copy server file to dist
        run: cp serve.js dist/

      - name: Upload to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: "osynic-osuapi"
          entrypoint: "serve.js"
          root: "dist"